{
  "user": {
    "firstName": "",
    "lastName": "",
    "email": "",
    "authenticatingSystem": "",
    "authenticatedIn": [""],
    "multifactor": boolean
  },
  "s3": {
    "bucket": ""
  },
  "pagerduty": {
    "routingKey": ""
  },
  "isDev": true,
  "videoBucket": ""
}
